
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header {
   
    text-align: center;
    color: #4a1c40;

    width: 460px;
    padding: 25px 15px;
    border: solid;
    border-radius: 15px;
    margin-top: 25px;

}

h1 {
    font-size: 4em;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

h2 {
    font-size: 2em;
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
}


section {
    width: 100%;
    max-width: 960px;
    background-color: #e6dde1;
    margin-top: 10px;
    border-radius: 15px;
}

.links {
    
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    margin-top: 25px;
    align-content: center;
    font-size: x-large;
    font-family: 'Open sans', sans-serif;
   
}

a {
    padding: 15px 15px; 

}


img {
    margin-top: 15px;
    margin-bottom: 15px;
}

article {
    color:#0c4271;
    font-style: 'Roboto', sans-serif;
    width: 100%;
    max-width: 960px;
    padding: 10px 10px;
    margin-top: 25px;
    box-sizing: border-box;
} 

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;


}